.yarnrc
.Xauthority
.wget-hsts
.hushlogin
.gitconfig
readme.md

# personal folders
Documents/**
Downloads/**
Music/**
Pictures/**
Videos/**

# other junk
.yarn/**
.npm/**
.hidden/**
.stack/**
.mozilla/**
.local/share/**
!.local/share/icons/
!Pictures/wallpaper.png
.local/state/**
.git/**
.cargo/**
.cache/**
.config/nvim/lazy-lock.json
.gnupg/**
.librewolf/**

# possible
.gtkrc-2.0
.xprofile

